<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	 	<File name="LogFile" fileName="logs/kafka-sandbox.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout> 
		</File>
	</Appenders>

	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
			 <AppenderRef ref="LogFile"/> 
		</Root>
		<Logger name="org.springframework.kafka" level="TRACE" />
		<Logger name="org.am" level="DEBUG" />
		<Logger name="'org.apache.kafka" level="DEBUG" />
	</Loggers>
</Configuration>